<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, class: 'form-control', required: true%>
  <%= form.text_field :longitude, class: 'form-control', id: 'longitude_input',hidden: true%>
  <%= form.text_field :latitude, class: 'form-control', id: 'latitude_input', hidden: true%>
  <%= form.text_field :start_date, class: 'form-control',  "data-provide" => 'datepicker'%>
  <%= form.text_field :end_date, class: 'form-control',  "data-provide" => 'datepicker'%>


  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
