<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <h2>Events</h2>
    <% if user_signed_in? %>
      <%= link_to 'New Event', new_event_path %>
    <% end %>


  </div>
</div>


<div class="container">
  <div class="row">

    <% @events.each do |event| %>
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 24rem;">
          <div style='width: 100%'>
            <div class="map"
                 data-longitude="<%= event.venue.longitude %>"
                 data-latitude="<%= event.venue.latitude %>"
                 data-can-set-location="false"
                 style=' height: 250px;'></div>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= event.name %></h4>
            <p class="card-text"><%= event.description %></p>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
              <%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
            <% end %>
            <%= link_to 'Show', event, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>




